body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  width: 100%;
  margin: 0.75rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__header img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.card__actions a {
  color: #006eff;
  text-decoration: none;
}
.card__actions .button__icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-right: 0.25em;
}

.card__tag {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.25em;
}

@media (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cell {
    width: calc(50% - 2rem);
  }
}
@media (min-width: 900px) {
  .cell {
    width: calc(32% - 2rem);
  }
}
