$text: #232323;
$yellow: #ffc91c;
$lightGray: #f8f8f8;
$darkGray: #e0e0e0;
$accent: #52ab98;

$lato: "Lato", sans-serif;

@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin large-desktop {
  @media (min-width: 1800px) {
    @content;
  }
}
